{% extends "inicio/encabezado.html" %}

{% block title %} CONSULTAS {% endblock %}
{%block imagen%}
    {%load static%}
    {%static 'inicio/images/home.png'%}
{%endblock%}

{% block contenido %}
<!-- Contenido Principal-->
<div class="page-content">


	<!--Encabezdo -->
	<div class="page-header">
		<div class="page-title">
			<h3>Consultas
				<small>Resultado de la Consulta </small>
			</h3>
		</div>


	</div>
	<!-- /Encabezado-->

<!-- Contenido Tabla-->
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Foto</th>
            <th>Matricula</th>
            <th>Nombre</th>
            <th>Carrera</th>
            <th>Turno</th>
            <th>Fecha Registro</th>
        </tr>
    </thead>
	<tbody>
	{% for alumno in alumnos %}
	<tr>
			<td class="text-center">
                {% if alumno.imagen %}
				    <img src="{{alumno.imagen.url}}" alt="" class="img-media" style="max-width: 50px;">
                {% endif %}
		</td>
		<td class="text-semibold">{{alumno.matricula}}</td>
		<td class="muted">{{alumno.nombre}}</td>
		<td class="muted">{{alumno.carrera}}</td>
		<td class="muted">{{alumno.turno}}</td>
		<td class="muted">{{alumno.created|date:"d M Y"}}</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="6" class="text-center">No se encontraron resultados para esta consulta.</td>
	</tr>
	{% endfor %}
</tbody>
 </table>
</div>
{% endblock %}
